cite
{
	background-color: white;
	color: blue;
	font-weight: bold;
}

P
{
	font-size: 11pt;
	font-weight: bold;
	color:black;
}

H1.rojo
{
	font-size: 20pt;
	font-weight: bold;
	color: red;
}

P.rojo
{
	font-size: 11pt;
	font-weight: bold;
	color: red;
}

P.verde
{
	font-size: 11pt;
	font-weight: bold;
	color: green;
}		
	
P.azul
{
	font-size: 11pt;
	font-weight: bold;
	color: blue;
}
	
	
	
	
	
	
	
	
	
	
	
	
	

