body
{
	background-color: #1c2c4f;
}

div
{
	width: 80%;
	height: 4in;
	font-size: 25px;
	background-color: rgba(147,124,87,0.7);
	color: white;
	text-align: center;
	margin: auto;
}

h1 
{
	font-size: 2em;
	color: yellow;
}

h2
{
	font-size: xx-large;
	color: #a600a6;
}

h3
{
	font-size: 20pt;
	color: hsl(100,80%,50%);
}

h4
{
	font-size: 2ex;
	color: hsla(258,80%,50%,1);
}

h5
{
	font-size: 1.1pc;
	color: rgb(7,25,67);
}

h6
{
	font-size: 4mm;
	color: rgba(147,200,220,1);
}






















